
<h1>Edit Page for "<%= @artwork.name %>"</h1><br>

<form action="/artworks/<%= @artwork.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch" />

  <div>
    <div><label for="name">Name: </label></div>
    <input type="text" name="name" id="name" value="<%= @artwork.name %>"/>
  </div>
  <div>
    <div><label for="genre">Genre: </label></div>
    <input type="text" name="genre" id="genre" value="<%= @artwork.genre %>"/>
  </div>
  <div>
    <div><label for="medium">Medium: </label></div>
    <input type="text" name="medium" id="medium" value="<%= @artwork.medium %>"/>
  </div>
  <div>
    <div><label for="date">Date: </label></div>
    <input type="text" name="date" id="date" value="<%= @artwork.date %>"/>
  </div><br>
  
  <input type="submit" value="submit"/>
</form>

