<div class="artworks_header">
  <h1>Current Artworks in the Database</h1><br><br>
</div>

<% art = @artworks.sort_by {|x| x.name} %>

<% art.each do |art| %>
<div class="artworks_body">
  <div><a href="/artworks/<%= art.id %>">
  <h3>"<%= art.name %>"</h3></a></div>
  <div><%= art.date %></div>
  <div><a href="/artists/<%= art.artist.id %>">
  <%= art.artist.FirstName %> <%= art.artist.LastName %></a></div><br>
</div>
<% end %>
<div class="footer">
  Table of Contents
</div>