

<div class="art_header">
  <h1>"<%= @artwork.name %>"</h1>
</div><br>
<div class="art_body">
  <p><%= @artwork.date %></p>
  <p><%= @artwork.genre %></p>
  <p><%= @artwork.medium %></p>
  <p>by <a href="/artists/<%= @artwork.artist.id %>">
  <%= @artwork.artist.FirstName %> <%= @artwork.artist.LastName %></a></p>
</div>
  
<div><a href="/artworks">Index of Artworks<a></div>
<div><a href="/index">Table of Contents</a></div>