

<div class="art_header">
  <h1>"<%= @artwork.name %>"</h1>
</div><br>
<div class="art_body">
  <div><%= @artwork.date %></div>
  <div><%= @artwork.genre %></div>
  <div><%= @artwork.medium %></div>
  <div>by <a href="/artists/<%= @artwork.artist.id %>">
  <%= @artwork.artist.FirstName %> <%= @artwork.artist.LastName %></a></div>
</div>
  
<div><a href="/artworks">Index of Artworks<a></div>
<div><a href="/index">Table of Contents</a></div>