<div class="collection_header">
  <h1>Your Collection</h1>
</div><br>

<% art = @current_user.artworks.sort_by {|x| x.date} %>

<% art.each do |art| %>
<div class="collection_items">
 <h3>"<a href="/artworks/<%= art.id %>"><%= art.name %></a>"</h3>
  <p><%= art.date %></p>
  <p><%= art.genre %></p>
  <p><%= art.medium %></p>
  <p>$<%= art.price %>USD</p>
  by <a href="/artists/<%= art.artist_id %>">
<%= art.artist.FirstName %> <%= art.artist.LastName %></a><br><br>
  <div>
    <a href="/artworks/<%= art.id %>/edit"><button>Edit</button></a>
    <a href="/artworks/<%= art.id %>/delete"><button>Delete</button><a>
  </div>
</div>
  
<% end %>


